.contactHeader{
    color: var(--text-sec);
    text-align: center;
    margin: 30px 0;
}

.formArea{
    width: 100%;
}
.send-message{
    width: 30px;
}

.formArea form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formArea form input[type="text"],
.formArea form input[type="email"],
.formArea form textarea {
    width: 80%;
    margin-bottom: 30px;
    padding: 10px 20px;
    color: var(--text);
    border: 2px solid rgb(48, 48, 56);
    border-radius: 40px;
    background: transparent;
    resize: none;
    font-size: 1.2em;
    outline: none;
    transition: all .3s ease-in-out;
}
.formArea form textarea{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    height: 350px;
    font-size: 15px;
    border-radius: 20px;
}

.formArea form input[type="text"]:focus,
.formArea form input[type="email"]:focus,
.formArea form textarea:focus {
    border: 2px solid var(--text-sec);
}

.submitButton{
    z-index: 1;
    position: relative;
    width: 15%;
    padding: 5px;
    border-radius: 20px;
    color: whitesmoke;
    background: linear-gradient(to bottom right,rgb(208, 109, 33),rgb(11, 109, 54) );
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.submitButton:hover{
    transform: scale(.95);
}
.submitButton:active{
    background: linear-gradient(to top left, rgb(35, 46, 56), rgb(68, 88, 108));
}
.submitButton::before{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    transform: scaleX(0);
    background-color: rgba(255, 255, 255, 0.049);
    transform-origin: left;
    border-radius: 20px;
}
.submitButton:hover::before{
    animation: boxSlide 4s linear infinite;
    animation-delay: 1s;
}

@keyframes boxSlide {
    50%{
        transform: scaleX(1);
        opacity: 0;
        transform-origin: right;
    }
    100%{
        transform: scaleX();
        opacity: 0;
    }
    
}

@media (max-width: 950px) {
    .submitButton {
            margin-bottom: 50px;
        }
}